*{
    margin: 0;
    padding: 0;
}
/*part 3*/
.e{
    margin: 0;
    padding: 0;
     background-image:linear-gradient(rgba(103,58,183,0.8), rgba(33,150,243,0.8)), url('/images/background\ image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 450px;
    
}
/*part 4*/
.h{
    color: rgb(4,83,134);
}
.p{
    font-size: 20px;
}
/*cards section*/
.w {
    margin: 0;
    padding: 0;
     background-image:linear-gradient(rgba(103,58,183,0.8), rgba(33,150,243,0.8)), url('/images/background\ image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 400px;
}