*{
    margin:0;
    padding: 0;
}
.w1 {
    margin: 0;
    padding: 0;
     background-image:linear-gradient(rgba(103,58,183,0.8), rgba(33,150,243,0.8)), url('/images/background\ image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 450px;
    
}
.p{
    font-family: 'Courier New', Courier, monospace;
    margin-top: 10px;
}
.h{
    margin-top:10 ;
    font-weight: 25px;
}
.w1 {
    margin: 0;
    padding: 0;
     background-image:linear-gradient(rgba(103,58,183,0.8), rgba(33,150,243,0.8)), url('/images/background\ image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 450px;
    
}